html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  display: flex;
  justify-content: center;
  align-items: center;

    --yellow: #EFAA45;
    --lightGreen : #7BAA68;
    --darkGreen : #4C8468;
    --textBlack : #1A1A1A;
    --white : #FFFFFF;




}

h1, h2, h3, h4 {
  font-family: "Baloo 2";
}

p {
  font-family: "hero-new";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



